/*li.home-blog-post .attachment-blog-thumb {
	height: 140px;
	width: 360px;
}
*/

.thumbpics {
	margin: -30px 0 30px -30px;
	padding: 0;
	height: 120px;
	width: 360px%;
	background-image: url('../img/David_Manaster.jpg');
	background-size: cover;
	position: relative;
	right: 0;
}
li.home-blog-post{
	padding-right: 0;
}
