.student_name {
	text-align: center;
	font-size: 72px;
	margin-top: 30px;
}


img.id_photo {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 70px;
	padding: 15px;
	border: 10px solid #60BDDB;

}

div.container {
	padding-top: 130px;
}
nav li {
	display: inline-block;
	width: 33%;
	font-size: 27px;
	text-align: center;
	margin-top: 20px;
}

div.about_me {
	float: left;
	width: 40%;
	border-style: solid;
	border-width: 7px;
	padding: 10px;
	height:210px;
	margin: 5%;

}

.my_story p {
	text-align: center;
}

div.my_story {
	float: left;
	width: 40%;
	border-style: solid;
	border-width: 7px;
	padding: 10px;
	height: 210px;
	margin: 5%;
}

dt:after {
	content: ":";
}

dt {
	display: inline-block;
}

dd {
	display: inline-block;
}

h3 {
	text-align: center;
}

span.category {
	margin: 0 auto;
	display: block;
}

dl {
	text-align: center;
}